<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h4 class="text-center pt-2">Form with PWA</h4>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="fullName">Full Name</label>
          <input
            type="text"
            [ngClass]="{ 'is-invalid': fullName?.touched && fullName?.errors }"
            class="form-control"
            placeholder="Your full name"
            formControlName="fullName"
          />
          <div
            *ngIf="fullName?.touched && fullName?.errors"
            class="text-danger"
          >
            <div *ngIf="fullName?.errors?.['required']">
              Full Name is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            [ngClass]="{ 'is-invalid': email?.touched && email?.errors }"
            class="form-control"
            placeholder="Your email"
            formControlName="email"
          />
          <div *ngIf="email?.touched && email?.errors" class="text-danger">
            <div *ngIf="email?.errors?.['required']">The email is required</div>
          </div>
          <div *ngIf="email?.errors" class="text-danger">
            <div *ngIf="email?.errors?.['pattern']">The email is not valid</div>
          </div>
        </div>

        <div class="form-group">
          <label for="message">Message</label>
          <textarea
            class="form-control"
            placeholder="Your message"
            formControlName="message"
          ></textarea>
        </div>

        <div class="form-group pt-2 d-flex justify-content-between">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!contactForm.valid"
          >
            Sign up
          </button>
          <button
            class="btn btn-primary"
            type="button"
            (click)="pushSubscription()"
          >
            Enable Notification
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
